<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>FoodMall</title>

    <%#= stylesheet_link_tag    "application" %>
    <%#= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'clipboard.min.js'%>
    <%#= javascript_include_tag 'metisMenu.js'%>
    <%#= javascript_include_tag 'sb-admin-2.js'%>

  </head>

  <body>
    <% if current_user %>
      <div id="wrapper">
        <%= render "layouts/sidebar" %>
        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <% flash.each do |name, msg| -%>
                <%= content_tag :div, msg, class: "alert alert-#{name}" %>
              <% end -%>
              <br><br><br><br>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">FoodMall</a>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Login', '/login' %></li>
            <li class"divider"></li>
            <li><%= link_to 'Signup', '/signup' %></li>
          </ul>
        </div>
      </div>

      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end %>
      <div class="col-lg-12">
        <center>
          <br><br><br><br>
          <%= yield %>
        </center>
      </div>
    <% end %>
    
  </body>
</html>